body {
    background-color: #fffbf7;
  }
  h1 {
    color: #025157;
    text-align: center;
  }
  p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
  }
  button {
    color: #fff;
    background-color: #025157;
  }

  .header{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
    font-family: 'Fascinate', cursive;
  }

  li{
    display: inline;
  }

  .header > * /* esto indica que todos los hijos que tenga el bloque de header, le va a aplicar el inline */{
    display: inline-block /* que es esto */;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
    margin: 40px 20px 0; /* el primero es el top, el segundo izquierdo y derecho, y el ultimo es el de
    abajo */

  }

  .logo{
    width: 15%;
  }

  .logo > img {
    width: 15%;
  }

  .navbar{
    width: 70%;
    text-align: left;
    color: aqua;
    font-weight: 500;
    color: #025157;
  }

  .actions a {
    color: #67b54b;
  }

  .actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
  }

  .actions > * {
    margin: 0 10px 0;
  }

  .main {
    margin-top: 140px;
    text-align: center;
  }

  .actions button{
    background-color: #67b54b;
    color: #fff /* es el color del text */;
    border: 0 /* para que no tenga borde */;
    border-radius: 5px;
    padding: 12px 14px 12px;
  }